{% extends "base.html" %}
{% block body %}
<a href="{% url 'subs:subrediti' subrediti.slug %}">Back to {{ subrediti.title }}</a>
<h3>Criando threado no subrediti: {{ subrediti.title }}</h3>
{% if form.errors %}
{{ form.non_field_errors }}
{{ form.errors.name }}
{% endif %}
<form class="post-form" method="POST">
{% csrf_token %}
<label>Título</label>
<input type="text" name="title" placeholder="Título da thread">
<label>Conteúdo</label>
<textarea type="text" name="post" placeholder="Escreva o post inicial desta thread."></textarea>
<input type="submit" value="Criar">
</form>
{% endblock %}