{% extends 'base.html' %}
{% block body %}
        <div>
                <label>titulo: {{ thread.title }}</label>
                <label>autor: {{ thread.autor }}</label>
                <label>votos: {{ thread.vote_count }}</label>
                
                <div>
                        <h3>Subrediti</h3>
                                <a href="{% url 'subs:subrediti' thread.subrediti.slug %}"><li>{{thread.subrediti.title}}</li></a>
                </div>
                <div>
                        <h3>Posts</h3>
                        {% for post in thread.posts.all %}
                                <li>{{post.content}}</li>
                                <div>
                                        <div>{{ post.vote_count }}</div>
                                        <a href="{% url 'core:vote' %}?target_type=post&target_id={{ post.id }}"><button>Like</button></a>
                                </div>
                        {% empty %}
                        <div>
                                nenhum post foi encontrado
                        </div>
                        {% endfor %}
                        <a href="{% url 'subs:create_post' %}?thread={{thread.pk}}">Fazer nova postagem</a>
                </div>
                
        </div>
{% endblock %}